<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="thank_you" method="POST">
        <label for="noun">Noun: </label><input id="noun" name="noun" type="text"><br>
        <label for="adjective">Adjective: </label><input id="adjective" name="adjective" type="text"><br>
        <label for="place">Place: </label><input id="place" name="place" type="text"><br>

        <p>What animal image would you like?</p>

        <input type="radio" id="dog" name="animal" value="dog">
        <label for="dog">Cat</label><br>
        <input type="radio" id="cat" name="animal" value="cat">
        <label for="cat">Dog</label><br>  

        <label for="color">Choose a background color:</label>
        <select name="color" id="color">
          <option value="blue">Volvo</option>
          <option value="red">Saab</option>
        </select>

        <input type="submit">
      </form>
</body>
</html>